.input-control
  position: relative
  width: 100%
  &.margin-with-error
    margin-bottom: 30px
  &.margin-without-error
    margin-bottom: 30px
  .input-control-title
    margin-bottom: 10px
    color: green
    width: 100%
  .errorMessage
    top: 50px
    position: absolute
    color: red
