.input-control
  position: relative
  width: 100%
  &.margin-with-error
    margin-bottom: 40px
  &.margin-without-error
    margin-bottom: 40px
  .input-control-title
    margin-bottom: 5px
    color: green
    width: 100%
  .errorMessage
    top: 60px
    position: absolute
    color: red
