<form [formGroup]="userRegisterForm.form" class="form-group">
  <div class="row">
    <div class="col-12 col-lg-9">
      <app-input-control
        [inputTitle]="'Nombres'"
        [errorMessage]="userRegisterForm.nameControl.nameError"
        [marginWithError]="true">
        <input type="text" class="input" maxlength="50" formControlName="name" #inputControl appCharacterOnly>
      </app-input-control>
    </div>
    <div class="col-12 col-lg-9">
      <app-input-control
        [inputTitle]="'Apellidos'"
        [errorMessage]="userRegisterForm.nameControl.nameError"
        [marginWithError]="true">
        <input type="text" class="input" maxlength="50" formControlName="lastName" #inputControl appCharacterOnly>
      </app-input-control>
    </div>
    <div class="col-12 col-lg-3">
      <app-input-control
        [inputTitle]="'DNI'"
        [errorMessage]="userRegisterForm.dniControl.dniError"
        [marginWithError]="true">
        <input type="text" class="input" maxlength="8" formControlName="dni" #inputControl appDigitOnly>
      </app-input-control>
    </div>
  </div>
  <div class="col-12 col-lg-9">
    <app-input-control
      [inputTitle]="'User'"
      [errorMessage]="userRegisterForm.nameControl.nameError"
      [marginWithError]="true">
      <input type="text" class="input" maxlength="50" formControlName="user" #inputControl>
    </app-input-control>
  </div>
</form>
